@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-size: 16px;
}

h1, h2 {
    margin: 0 0 10px 0;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
}

body {
    font: 1em 'Raleway', sans-serif;
    color: #ffffff;
    background-image: url('../images/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #21304a;
}
.container {
    width: 70%;
    margin: auto;
    padding-top: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: auto;
}

.logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 1;
    grid-row: 1;
}

.logo img {
    width: 100%;
}

.about {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 2;
    grid-row: 2;
}

.register {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 3;
    grid-row: 3;
}

.register form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5px 2fr;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5px;
}

.register form > label {
    text-align: right;
}

.register form > input[type="text"] {
    border-radius: 5px;
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    outline: none;
    padding: 3px 5px;
}

.register form .regulamin {
    text-align: right;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 7;
    grid-row: 7;
}

.register form input[type="submit"] {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 8;
    grid-row: 8;
    background: -webkit-gradient(linear, left top, left bottom, from(#e062f3), to(#21304a));
    background: -webkit-linear-gradient(#e062f3, #21304a);
    background: -o-linear-gradient(#e062f3, #21304a);
    background: linear-gradient(#e062f3, #21304a);
    border: none;
    padding: 8px 5px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: bold;
}

.text-red {
    color: #a00000;
    font-weight: bold;
}

@media screen and (max-width: 1400px) {
    body {
        background: url('../images/background.jpg') no-repeat 70% 10%;
        background-size: cover;
        background-attachment: fixed;
    }
}

@media screen and (max-width: 1050px) {
    body {
        background: url('../images/background.jpg') no-repeat 80% 10%;
        background-size: cover;
        background-attachment: fixed;
    }
    .container {
        width: 70%;
        margin: auto;
        padding-top: 50px;
        -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4,1fr);
    }
}

@media screen and (max-width: 700px) {
    body {
        background: url('../images/background.jpg') no-repeat 80% 10%;
        background-size: cover;
        background-attachment: fixed;
    }
    .container {
        margin: auto;
        width: 80%;
        padding-top: 50px;
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3,1fr);
    }
    .register form input[type="submit"] {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3;
    }
}

@media screen and (max-width: 530px) {
    body {
        font-size: .8em;
    }
    .container {
        width: 90%;
    }
}